{% extends "base.html" %}

{% block content %}
  <!-- Top Section -->
  <div class="top-section">
    <div class="container">
      <h1 class="main-title">Contact Us</h1>
      <p class="tagline">We’d love to hear from you! Reach out for collaborations, consultations, or questions.</p>
    </div>
  </div>

  <!-- Bottom Section -->
  <div class="bottom-section">
    <div class="container contact-section">
      <p>Email address: 
        <a href="mailto:datasolveke@gmail.com" class="email-link">
          datasolveke@gmail.com
        </a>
      </p>
      <p>Phone number (WhatsApp): 
        <a href="https://wa.me/254726572187" target="_blank" class="email-link">
          +254 726 572 187
        </a>
      </p>
    </div>
  </div>
{% endblock %}
